# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*

# Logs
*.log
*.pid

# Docker
docker-compose.override.yml
*.pid
*.seed

# VSCode
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Static/media folders if applicable
/media/
